.Section {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    color: #ebebeb;
}

.Section h2 {
    font-size: 1.6rem;
}

.Section:last-child {
    margin: 5rem auto 5rem auto;
}
