.Meals {
    font-family: 'Montserrat', sans-serif;
}

.Meals header {
    width: 70%;
    margin: 3rem auto;
}

.Meals p, .Meals h1 {
    color: #dddddd;
}

.Meals h1 {
    font-size: 2rem;
}

.Meals h1 span {
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(90deg, #fa4e1e, #f5c92a);
}

.Meals__ShareButton {
    all: unset;
    cursor: pointer;
    font-size: 1.1rem;
    color: #ffffff;
    font-weight: 700;
    padding: 4px 8px;
    background-image: linear-gradient(90deg, #f9572a, #cea307);
    border-radius: 4px;
}

.Meals__List {
    width: 80%;
    margin: 4rem auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-gap: 6rem;
    align-items: start;
}
